.bg-img-header {
    background-image: url('images/card-images.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0px 60px 0px;
    padding-bottom: 30px;
}

.text-color {
    background: linear-gradient(to right, #16B862, #00858F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.btn {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: linear-gradient(135deg, #76BB39 0%, #16B862 51.88%, #00858F 100%);
    box-shadow: 0px 8px 8px -4px rgba(22, 184, 98, 0.12), 0px 16px 24px 0px rgba(22, 184, 98, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 0px 1px 0px rgba(22, 184, 98, 0.24);
    min-height: 48px;
    min-width: 160px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #76BB39;
}

.center-img {
    position: relative;
    top: 0;
    left: 0;
}

.centered-image {
    position: absolute;
    /* Change to relative positioning */
    top: 0;
    left: 0;
}

/* Media Queries for Responsive Design */

/* Mobile view */
@media (max-width: 767px) {
    .centered-image {
        top: -100px;
        left: 100px;
    }
    .centered-image img {
        width: auto;
        height: 200px;
    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1023px) {
    .centered-image {
        top: -220px;
        /* Adjust as needed */
        left: 50%;
        /* Center the image horizontally */
        transform: translateX(-50%);
        /* Center the image horizontally */
    }
    .centered-image img {
        width: auto;
        height: 350px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    .centered-image {
        top: -300px;
        left: 300px;
    }

    .centered-image img {
        width: auto;
        height: 500px;
    }
}

.steps-card {

    position: relative;
    border-radius: 12px !important;
    /* background: linear-gradient(135deg, #343c2c 0%, #28362f 51.88%, #3f696c 100%); */
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    height: 200px; 
    border-radius: 5px; 
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px; 
    text-align: center; 
}

.card-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-image: url('./images/card-images.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-card-icon {

    width: 60px;
    height: 60px;
    border: 1px solid #76BB39;
    padding-top: 12px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(135deg, #76BB39 0%, #16B862 51.88%, #00858F 100%);
    position: absolute;
    top: -30px;
    left: 40%;
}

.step-color {

    background: linear-gradient(to right, #07a302, #08aeb9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;

}

.footer-img {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    background-image: url('./images/three-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(27, 18, 18, 0.671);
    height: 40vh;
}



.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-item {
    flex: 0 0 16.666%;
    max-width: 16.666%;
    padding: 5px;
    /* box-sizing: border-box;*/
}

.logo-item img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}